
    <div class="banner">
        <img src="<?php echo $about_banner['banner_info']; ?>" alt="">
    </div>
    <div class="content">
        <div class="top">
            <div>
                <span>公司介绍</span>
                <p>Comepany introduction</p>
            </div>
            <ul>
				<?php foreach($cat_nav AS $k=>$v):?>
                <li <?php if($category_id==$v['id']):?>class="on"<?php endif;?>>
                    <a href="<?php echo BASE_URL;?>index.php?c=<?php echo C;?>&a=index&category_id=<?php echo $v['id'];?>"><?php echo $v['category_name'];?></a>
                </li>
				<?php endforeach;?>
            </ul>
        </div>
        <div class="center">
            <div class="main">
                <h2><?php echo $article['title'];?></h2>
                <div style="margin-top: 0;">
                    <p><?php echo $article['content'];?></p>
                </div>
            </div>
        </div>
    </div>
