
    <div class="banner">
        <img src="<?php echo $product_banner['banner_info']; ?>" alt="">
    </div>
    <div class="content">
        <div class="top">
            <div>
                <span>产品中心</span>
                <p>PRODUCT CENTER</p>
            </div>
            <ul>
                <?php foreach($cat_nav AS $k=>$v):?>
                <li <?php if($category_id==$v['id']):?>class="on"<?php endif;?>>
                	<a href="<?php echo BASE_URL;?>index.php?c=<?php echo C;?>&a=index&category_id=<?php echo $v['id'];?>"><?php echo $v['category_name'];?></a>
                </li>
                <?php endforeach;?>
            </ul>
        </div>

        <div class="center">
            <div class="location">
                <div class="main">
                    <img src="<?php echo $product['pro_photo'];?>" alt="">
                </div>
                <div class="table">
                    <h2><?php echo $product['pro_name'];?></h2>
                    <?php echo $product['pro_content'];?>
                </div>
                <span></span>
            </div>
            <div class="text">
                <span></span>
                <ul>
					<?php foreach($detail as $k=>$v):?>
                    <li>
                        <h2><?php echo $v['title']?></h2>
                        <p><?php echo $v['content']?></p>
                    </li></br>
					<?php endforeach;?>
                </ul>
            </div>
			<div class="flip">
				<?php if(!empty($prev[0]['id'])):?>
				<a href="<?php echo BASE_URL;?>index.php?c=<?php echo C;?>&a=details&category_id=<?php echo $prev[0]['category_id'];?>&id=<?php echo $prev[0]['id'];?>">上一个</a>
				<?php else:?>
				<a href="###">没有了</a>
				<?php endif;?>
				<?php if(!empty($next[0]['id'])):?>
				<a href="<?php echo BASE_URL;?>index.php?c=<?php echo C;?>&a=details&category_id=<?php echo $next[0]['category_id'];?>&id=<?php echo $next[0]['id'];?>">下一个 </a>
				<?php else:?>
				<a href="###">没有了</a>
				<?php endif;?>
			</div>
        </div>
    </div>
